html,
body {
  padding: 0;
  height: 100%;
}

.loginContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.errMessage {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}